<div class="main-footer">
    <div class="contianer">
        <div class="d-flex justify-content-around flex-column flex-md-row">
            <div>
                <img src="/assets/logo2.png" alt="logo2">
                <div>
                    endereço <br/>
                    email <br/>
                    telefone <br/>
                </div>
            </div>
            <div>
                <h1>Suporte</h1>
                <p>Termos de uso</p>
                <p>Politica de privacidade</p>
            </div>
        </div>
        <hr/>
        <div class="d-flex justify-content-around flex-column flex-md-row">
            <div>rede sociais</div>
            <div>termo de uso</div>
            <div>cartoes</div>
        </div>
    </div>
</div>
