<div class="main-footer">
    <div class="contianer">
        <div class="d-flex justify-content-between flex-column flex-md-row p-4">
            <div>
                <img src="/assets/logo2.png" alt="logo2">
                <div>
                    <p>Rua número 15 Arsenal 53416330</p>
                    <p>chernny.pizzaria.com.br</p>
                    <p>(81)98855-6444</p>
                </div>
            </div>
            <div>
                <h1>Suporte</h1>
                <p>Termos de uso</p>
                <p>Politica de privacidade</p>
            </div>
        </div>
        <hr/>
        <div class="d-flex justify-content-around flex-column flex-md-row">
            <div class="main-social" >
                <ul class="d-flex justify-content-center" >
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div>Todos os direitos reservados &copy; - Agencia Dallas </div>
            <div class="main-cc-cards" >
                <ul class="d-flex justify-content-center" >
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-cc-visa"></i>
                        </a>
                    </li>
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-cc-mastercard"></i>
                        </a>
                    </li>
                    <li class="mr-3" >
                        <a href="#">
                            <i class="fa-brands fa-cc-paypal"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
