<div class="main-header">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['']" >
      <img src="/assets/logo-pizzaria.png" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="container">
        <div class="d-flex flex-md-row flex-column justify-content-between align-items-center col-12">
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" >Cardapio</a>
            </li>
          </ul>

          <ul class="navbar-nav d-flex flex-column flex-md-row flex-end">
            <li class="nav-item nav-item-cart">
              <a class="nav-link" routerLink="/ordem-compra">
                <img class="icon-cart" src="/assets/carrinho.svg" alt="carrinho">
                <span class="item-cart" >
                  <span>{{ getCountCart() }}</span>
                </span>
              </a>
            </li>
          </ul>

        </div><!-- end col-12 -->
        
      </div>
    </div>
  </nav>
</div>