<div class="main-home">

    <div class="main-header">
        <div class="container">
            <div class="d-flex flex-column col-12 flex-md-row justify-content-between align-items-center">
                <div>
                    <header>
                        <h1>
                            O melhor momento <br/>
                            de pedir pizza é <br/>
                        </h1>
                        <a class="btn btn-pedido" href="#produtos">agora</a>
                    </header>
                </div>
                <div class="col-12 col-md-6" >
                    <div class="header-figure">
                        <img src="/assets/pizza-1-teste.png" alt="pizza">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-destaque">
        <div class="container">
            <div class="d-flex flex-column col-12 flex-md-row justify-content-around align-items-center">
                <div class="col-12 col-md-6">
                    <header class="destaque-details">
                        <h1>A mais pedida</h1>
                        <p>A queridissima desse mê foi a Pizza Bacon
                            <br/> com 86% dos pedidos.
                        </p>
                        <ul>
                            <li>Pizza com a receita da casa.</li>
                            <li>Bem Macia com bastante bacon.</li>
                        </ul>
                        <a routerLink="/produto/2" >Fazer Pedido</a>
                    </header>
                </div>
                <div class="col-12 col-md-6" >
                    <div class="destaque-img">
                        <img src="/assets/pizza-2-teste.png" alt="pizza2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-produtos">
        <div class="container">
            <div class="d-flex flex-md-row flex-column align-items-center text-center">
                <div class="col-12">
                    <header id="produtos" >
                        <h1>Loja</h1>
                    </header>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column">
                <div class="col-md-3 col-12" *ngFor="let produto of produtos async" >
                    <div class="main-produto">
                        <a [routerLink]="['/produto',produto.id]" >
                            <img [src]="produto.img[0].url" alt="pizza-1">
                            <h3> {{produto.titulo}}</h3>
                            <p>{{produto.valor | currency:'BRL':true }}</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-promo">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-around col-12 align-items-center">
                <div class="main-promo-content-1 col-12 col-md-6" >
                    <img src="/assets/promo-1.png" alt="promo-1">
                </div>
                <div class="main-promo-content col-12 col-md-6" >
                    <img src="/assets/pizza-3-teste.png" alt="pizza3">
                </div>
            </div>
        </div>
    </div>
    <div class="social-media">
        <h1>Siga-nos no instagram</h1>
        <div class="d-flex flex-md-row flex-column">
            <div class="col-md-3 col-12" >
                <div class="main-insta">
                    <img src="/assets/insta-1.jpg" alt="insta-1">
                </div>
            </div>
            <div class="col-md-3 col-12" >
                <div class="main-insta">
                    <img src="/assets/insta-2.jpg" alt="insta-1">
                </div>
            </div>
            <div class="col-md-3 col-12" >
                <div class="main-insta">
                    <img src="/assets/insta-5.jpg" alt="insta-1">
                </div>
            </div>
            <div class="col-md-3 col-12" >
                <div class="main-insta">
                    <img src="/assets/insta-4.jpg" alt="insta-1">
                </div>
            </div>
        </div>
    </div>
</div>