<div class="main-home">

    <div class="main-header">
        <div class="container">
            <div class="d-flex flex-column col-12 flex-md-row justify-content-between align-items-center">
                <div>
                    <header>
                        <h1>
                            O melhor momento <br/>
                            de pedir pizza é <br/>
                        </h1>
                        <a href="#">agora</a>
                    </header>
                </div>
                <div class="col-12 col-md-6" >
                    <div class="header-figure">
                        <img src="/assets/pizza-1-teste.png" alt="pizza">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-destaque">
        <div class="container">
            <div class="d-flex flex-column col-12 flex-md-row justify-content-around align-items-center">
                <div class="col-12 col-md-6">
                    <header class="destaque-details">
                        <h1>A mais pedida</h1>
                        <p>A queridissima desse mê foi a Pizza Bacon
                            <br/> com 86% dos pedidos.
                        </p>
                        <ul>
                            <li>Pizza com a receita da casa.</li>
                            <li>Bem Macia com bastante bacon.</li>
                        </ul>
                        <a href="#">Fazer Pedido</a>
                    </header>
                </div>
                <div class="col-12 col-md-6" >
                    <div class="destaque-img">
                        <img src="/assets/pizza-2-teste.png" alt="pizza2">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-produtos">
        <div class="container">
            <div class="d-flex flex-md-row flex-column">
                <div class="col-12">
                    <header>
                        <h1>Loja</h1>
                    </header>
                </div>
            </div>
            <div class="d-flex flex-md-row flex-column">
                <div class="col-md-3 col-12">
                    <div class="main-produto">
                        <img src="/assets/pizza-1.png" alt="pizza-1">
                        <h3>Pizza Bacon</h3>
                        <p>R$ 33,00</p>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="main-produto">
                        <img src="/assets/pizza-1.png" alt="pizza-1">
                        <h3>Pizza Bacon</h3>
                        <p>R$ 33,00</p>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="main-produto">
                        <img src="/assets/pizza-1.png" alt="pizza-1">
                        <h3>Pizza Bacon</h3>
                        <p>R$ 33,00</p>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="main-produto">
                        <img src="/assets/pizza-1.png" alt="pizza-bacon">
                        <h3>Pizza Bacon</h3>
                        <p>R$ 33,00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-promo">
        <div class="container">
            <div class="d-flex flex-column flex-md-row justify-content-around col-12 align-items-center">
                <div class="main-promo-content-1 col-12 col-md-6" >
                    <img src="/assets/promo-1.png" alt="promo-1">
                </div>
                <div class="main-promo-content col-12 col-md-6" >
                    <img src="/assets/pizza-3-teste.png" alt="pizza3">
                </div>
            </div>
        </div>
    </div>
    <div class="social-media">
        Siga-nos no instagram
    </div>
</div>